Intermediate/CachedAssetRegistry.bin
Saved/AutoScreenshot.png
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/TTPrototype.log
Saved/Logs/UE4CC-Windows-7ADBB78C419F7A6504ADC98BF67BFF68/CrashReportClient.ini
Saved
Build
Config/DefaultEditor.ini
Saved/Config/Windows/Editor.ini
*.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/Editor.ini
Config/DefaultEditor.ini